$timelineHeader-height: 40px;
$hour-fontSize: 12px;
$border-color: #e2e2e2;
$date-move-btn-height: 15px;
$tl-marginTop: 25px;
$tl-height: 25px;
$tl-edge-margin: 15px;
$height-delta: 3;

.cmp_ind-scheduler {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  .scheduler-container {
    margin: 0 auto;
  }

  .date:first-child {
    margin-top: $tl-marginTop;
  }
}